{% extends 'base_content.html' %}
{% load bootstrap_pagination %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <a class="btn btn-primary" style="float: right; margin-left: 5%;" href = "{% url 'book_review' %}">Add Book Review</a>
      {% if user.is_superuser %}
        <a class="btn btn-primary" style="float: right; margin-left: 5%;" href = "{% url 'upload_books' %}">Upload Books</a>
      {% endif %}
      <h1>Books</h1>
      {% if books %}
      {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
      <table class="table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Author</th>
          <th>ISBN</th>
        </tr>
        {% for book in books %}
          <tr>
            <td>
              <img src="{{ book.image_url_s }}" alt="Image not found" >
            </td>
            <td><a href="{% url 'show_book' book.id %}">{{ book.name }}</a></td>
            <td>{{ book.author }}</a></td>
            <td>{{ book.isbn }}</a></td>
          </tr>
        {% endfor %}
      </table>
      {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
      {% else %}
      <a> No books are uploaded yet! </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
