{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Other Books by the Publisher</h1>
      {% comment %} {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %} {% endcomment %}
      <table class="table">
        {% for book in books_by_publisher %}
          <tr>
            <td>
              <img src="{{ book.image_url_s }}" alt="Image not found" >
            </td>
            <td><a href="{% url 'show_book' book.id %}">{{ book.name }}</a></td>
            <td>{{ book.author }}</a></td>
            <td>{{ book.publisher }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}






{% comment %} {% for item in items %}
<tr>
    <td>
      <img src="{{ item.image_url_s }}" alt="Image not found" >
    </td>
    <td>{{ item.name }}</a></td>
    <td>{{ item.author }}</a></td>
    <td>{{ item.isbn }}</a></td>
</tr>
{% endfor %} {% endcomment %}