{% extends 'base_content.html' %}
{% block content %}
{% load humanize %}

<div class="container" style="height:100%">

  <div class="row" style="height:100%">

    <!-- Left -->
    <div class="col-sm-2">


      <div class="" >
        <div class="row">
          <div>
            <p style="color:#878787">Recommended reads</p>
          </div>
        </div>

        <div class="row card s-40 p-16">
          <div class="collection-wrap">

            {% if recommendations %}
              {% for recommendation in recommendations %}
                <div class="single-item-wrap">
                <img src="{{ recommendation.image_url_s }}" alt="Image not found" >
                  <div class="book-details">
                    <a href="{% url 'show_book' recommendation.id %}"><small style="font-size:12px">{{recommendation.name}}</small></a>
                  </div>
                </div>
              {% endfor %}
              {% else %}
                <p>There are currently no books in the system to generate recommendations</p>
              {% endif %}
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div>
            <p style="color:#878787">Upcoming meetings</p>
          </div>
        </div>

        <div class="row card s-40 p-16">

          <div class="collection-wrap">
            {% for c in user.clubs.all %}
            {% for a in c.meetings.all %}
              <div class="single-item-wrap">

                {% if user.now < a.finish %}
                <div class="book-details">
                  <a href="{% url 'show_club' a.club.id %}">{{a.club.name}}</a>
                  <p><small style="font-size:12px">{{a.start}}</small></p>

                  {% if a.URL == 'KeyError' %}
                  <form target="_blank" action="{% url 'zoom_meeting' %}">
                  {% else %}
                  <form target="_blank" action="{{ a.URL }}">
                  {% endif %}
                  <p></p>
                  <input type="submit" value="Join meeting" class="btn btn-primary"/>
                  </form>

                </div>
                {% endif %}
              </div>
              {% endfor %}
            {% endfor %}
            <p></p><p></p>
          </div>
          <!-- end meetings -->

        </div>
      </div>
    </div>


    <!-- Middle -->
    <div class="col-sm-8 min" style="padding: 0 18px; height:100%">

      <!-- Moment header -->
      <div class="moments-header">
        <div>
          <h5 style="color:#878787">Moments</h5>
        </div>
        <div style="margin-left: 24px;">
          <p style="margin-bottom: 0px; color:cornflowerblue">“Some moments are nice, some are nicer, some are even worth writing about.”</p> <small style="color:#767676">― Charles Bukowski</small>
        </div>
      </div>

      <!-- Share a moment -->
      <div class="row flex-center" style="margin-top:28px;">
        <div class="col">
          <form id="moment-form" onsubmit="submitForm(event, this)" action="{% url 'create_moment' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
              <label for="moment_id" class="form-label" style="color:#43a1f3;">Share a moment with your followers</label>
              <input type="{{ field.field.widget.input_type }}" class="form-control" id="moment-body" placeholder="Say something..." autocomplete="off">
            </div>
            {% endfor %}
          </form>
        </div>
      </div>

      <!-- View moments -->
      <div id="moment-wrapper">
        {% for moment in object_list %}

          <!-- CUSTOM -->
          {% if moment.type == 0 %}
            {% include 'partials/custom_moment_partial.html' with moment=moment %}

          <!-- BECAME_FRIENDS -->
          {% elif moment.type == 1 %}
            {% if moment.user.id == request.user.id %}
              {% include 'partials/become_friends_moment_partial.html' with moment=moment %}
            {% endif %}

          <!-- CLUB_CREATED -->
          {% elif moment.type == 2 %}
            {% include 'partials/create_club_moment_partial.html' with moment=moment %}

          <!-- BOOK_RATING -->
          {% elif moment.type == 3 %}
            {% include 'partials/book_read_moment_partial.html' with moment=moment %}

          {% endif %}
        {% empty %}
          <div class="empty-moments">
            <h4>Its pretty quiet in here, why dont you share a moment</h4>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Right -->
    <div class="col-sm-2" style="height:100%">
      <div class="row">
        <div>
          <p style="color:#878787">Popular clubs</p>
        </div>
      </div>
      <div class="row card s-40 p-16">
          <div class="collection-wrap">

            {% for club in random_clubs %}

              <div class="single-item-wrap">
                <div class="thumbnail-holder">
                  {% if club.thumbnail.url is not None %}
                    <img src={{club.thumbnail.url}}>
                  {% else %}
                    <img src="/static/images/default_club.jpeg"
                        alt="Logo" width="50">
                  {% endif %}
                </div>
                <div class="book-details">
                  <a href="{% url 'show_club' club.id %}"><small style="font-size:12px">{{club.name|capfirst}}</small></a>
                  <small style="font-size:12px; color:#878787">Members: {{club.member_count}}</small>
                  <small style="font-size:12px; color:#878787">Leader: <a href="{% url 'show_user' club.leader.id %}"> {{club.leader}}</a></small>
                </div>
              </div>
            {% endfor %}

          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {
    setMaxHeight()
  })

  const setMaxHeight = () => {
    let wrapper = $('#moment-wrapper')[0]
    let coords = wrapper.getBoundingClientRect()
    let windowHeight = window.innerHeight
    let wrapperMaxHeight = windowHeight - coords.y
    $('#moment-wrapper').css("max-height", wrapperMaxHeight);
  }

  const clearForm = () => {
    $('#moment-body').val('')
  }

  const showNewMoment = (result) => {
    if ($('.empty-moments').length) {
      $('.empty-moments').hide()
    }

    let moment = result.moment

    let new_moment = `
      <div class="row flex-center">
        <div class="col">
          <div class="container-fluid notification-card" style="padding-left: 8px;">
            <div class="card-top">

              <!-- Avatar -->
              {% if moment.user.using_gravatar %}
                <div class="notification-image" style="height:70px; width:70px">
                  <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle">
                </div>
              {% else %}
                <div class="notification-image" style="height:70px;width:70px">
                  <div id="{{user.customavatar.color}}" class="moment-avatar">
                    <img src="/static/images/{{user.customavatar.icon}}.svg">
                  </div>
                </div>
              {% endif %}

              <div class="col" style="padding-left:4px; padding-top:6px;">
                <div class="align-text">
                  <a href="{% url 'show_user' user.id %}">{{user.username}}</a><b> <small style="padding-left:12px; color: #6d6d6d">Shared a personal moment</small></b>
                </div>
                <div>
                  <small style="color: #6d6d6d">now</small>
                </div>
              </div>
            </div>
            <div class="card-bottom" style="margin-bottom:8px;">
              ${moment.body}
            </div>
          </div>
        </div>
      </div>
      `

    $('#moment-wrapper').prepend(new_moment)
  }

  const submitForm = (event, form) => {
      event.preventDefault()
      body = $('#moment-body').val()
      $.ajax({
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          moment_body: JSON.stringify(body)
        },
        url: {% url 'create_moment' %},
        dataType: "JSON",
        success: (result) => {showNewMoment(result)}
      }).done((data) => {
        clearForm()
      })

  }

</script>

{% endblock %}
