{% extends 'base.html' %}
{% block body %}
<!-- homepage body -->
<div class="text-center" style="background-color: #77C2CF; height: 100vh;">

  <!-- navbar of the homepage -->
  <nav class="navbar sticky-top navbar-light home-navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Sticky top</a>
    </div>
  </nav>

  <!-- image of the homepage -->
  <img src="/static/images/landing-page-idea3.jpg" class="rounded" alt="main image">

</div>
{% endblock %}
