{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Members of {{club.name}}</h1>
        <table class ="table">
          <tr>
            <th></th>
            <th>Username</th>
            <th>Name</th>
            <th>Bio</th>
          </tr>
          {% for user in club.members.all %}
            <tr>
              <td><a href="{% url 'show_user' user_id=user.id %}">
                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
              </a></td>
              <td><a href="{% url 'show_user' user_id=user.id %}">{{ user.username }}</a> </td>
              <td>{{ user.full_name }} </td>
              <td>{{ user.bio }}</td>
              <td>
              {% if request.user == club.leader %}
              {% if user != request.user %}
              <form action="{% url 'remove_from_club' user.id  club.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Remove</button>
              </form>
              {% endif %}
              {% endif %}
            </td>
            </tr>
          {% endfor %}
        </table>
      </div>
  </div>
  </div>

{% endblock %}
