{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
{% load notification_extras %}
{% load humanize %}

  <div class="container" style="padding: 0px">

    <div class="row">
      <div class="container notification-options-panel">
        <h2>{{object_list.count}} Notifications</h2>
        <p class="notification-option-button"><b>Options:</b></p>
        <p class="notification-option-button">Mark all as <a href="#">read</a> <a href="#">unread</a> <b>|</b> Order by <a href="#">newest</a> <a href="#">type</a></p>
      </div>
    </div>

    {% for notification in object_list %}
    <div class="row notification-card">
      <div class="col-1 unread-indicator-parent ">

        {% if notification.read %}
          <div class="unread-indicator"></div>
        {% endif %}

        <div class="notification-image" style="height:100px;">
          <i class="bi {{notification.type|render_icon}}" style="color:lightblue; font-size:40px"></i>
        </div>
      </div>
      <div class="col-9 notification-body">
        <div class="row">
          <div class="col-12">
            <h5 style="color:#464646; font-size:18px;">{{notification.title}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p style="color:#7a7a7a">{{notification.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="color:#7a7a7a">
            <small>{{notification.created_on|naturaltime}}</small>
          </div>
        </div>
      </div>
      {% if notification.type|render_buttons:0 %}
        {% include 'partials/notification_buttons/friend_request.html' with user=notification.associated_user %}
      {% else  %}
        {% include 'partials/notification_buttons/view_club_buttons.html' with club=notification.associated_club %}
      {% endif  %}
    </div>
    {% empty %}
      <p>Sorry, you do not have any notifications.</p>
    {% endfor %}
  </div>
{% endblock %}
