{% extends 'base_content.html' %}
{% block content %}

<style>

.container-pending-requests {
  margin-left: 5ex;

}
</style>


 <div class="container-pending-requests">
  <div class="row">
    <div class="col-12">
      <h1>Applicant List</h1>
      <h3>Members: {{ club.members.count }}/{{ club.maximum_members }}</h3>
      <p></p>
      <table class="table">
        {% if club.applicants.all %}
        <tr>
          <th></th>
          <th>Username</th>
          <th>Name</th>
          <th>Bio</th>
          <th>Favourite Book</th>
          <th>Favourite Character</th>
          <th>Favourite Genre</th>
          <th>Favourite Author</th>
          <th>Want to read next</th>
        </tr>
        {% for i in club.applicants.all %}
          <tr>
            <td><a href="{% url 'show_user'  user_id=i.id %}">
              <img src="{{ i.mini_gravatar }}" alt="Gravatar of {{ i.username }}" class="rounded-circle" >
            </a></td>
            <td><a href="{% url 'show_user'  user_id=i.id %}">{{ i.username }}</a></td>
            <td>{{ i.full_name }}</td>
            <td>{{ i.bio }}</td>
            <td>{{ i.favourite_book }}</td>
            <td>{{ i.favourite_character }}</td>
            <td>{{ i.favourite_genre }}</td>
            <td>{{ i.favourite_author }}</td>
            <td>{{ i.want_to_read_next }}</td>
            <td>
            <form action="{% url 'acceptMembership' i.id club.id %}" method="post">
                            {% csrf_token %}
                              <button type="submit" class="btn btn-success">accept</button>
                          </form>
          </td>
          <td>
          <form action="{% url 'rejectMembership' i.id club.id %}" method="post">
                            {% csrf_token %}
                              <button type="submit" class="btn btn-danger">reject</button>
                          </form>
        </td>
          </tr>
        {% endfor %}
        {% else %}
        <a> No applicants! </a>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
