{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      {% if user.clubBooks %}
      <h1>Create new Meeting</h1>
      <form action="{% url 'set_meeting' club.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Set Up" class="btn btn-primary">
      </form>
      {{ form.media }}
      <br>
    </div>
  </div>
</div>
{%else%}
<h1> Add a book to be able to create a meeting</h1>
<a href={% url 'book' %}>add book</a>

{%endif%}
{% endblock %}
