{% extends 'base_content.html' %}
{% block content %}

    <div class="container">
        <div class="main-body">
            <div class="row g-4">
                <div class="col-lg-4 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://cdn.vectorstock.com/images/1000x1000/66/09/29666609.jpg"
                                    alt="Logo" class="rounded-circle" width="200">
                                <div class="mt-1">
                                    <h4>{{club.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p> </p>
                    <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <p class="text-muted font-size-sm">Club Leader: {{ club.leader.full_name }}</p>
                            </div>
                        </div>
                    </div>

                <p></p>
                {% for i in club.members.all %}
                {% if i == request.user  %}
                  <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">

                            <p class="text font-size-sm"> upcomming meetings: <p> </p>
                            {% for meetings in user.future_meetings %}
                            {{ meetings.date }} Book: {{ meetings.book.name }}
                            <p> </p>
                            {% endfor %}
                            </p>
                            </div>


                        </div>
                    </div>
                <p></p>
                
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">

                            <p class="text font-size-sm"> previous meetings: <p> </p>
                            {% for meetings in user.previous_meetings %}
                            {{ meetings.date }} {{ meetings.book.name }}
                            {% endfor %}
                            </p>
                            </div>

                            
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">About us:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <p>{{club.description}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                      <a href={% url 'club_forum' club.id %}>Club Forum</a>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
