{% extends 'base_content.html' %}
{% block content %}

<style>
.height-full {
    height: 100vh;
    margin-left: 12ex;
  }


 .card-img-top {
    object-fit: cover;
}

.meeting-card {
    background-color: white;
    margin-top: 5ch;
}

  </style>
    <div class="container-fluid height-full">

        <div class="main-body">
            <div class="row g-4">
                <div class="col-lg-3 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://cdn.vectorstock.com/images/1000x1000/66/09/29666609.jpg"
                                    alt="Logo" class="rounded-circle" width="200">
                                <div class="mt-1">
                                    <p></p>
                                    <h4>{{club.name}}</h4>
                                </div>
                                <p></p>
                                <p class="text-muted font-size-sm">Club Leader: {{ club.leader.full_name }}</p>
                                <p class="text-muted font-size-sm">Club theme: {{ club.theme }} </p>
                                <a href={% url 'member_list' club.id %}>Members list</a>
                                {% for i in request.user.leader_of.all  %}
                                {% if i.id == club.id %}

                                  <a href="#" data-bs-toggle="modal" data-bs-target="#modal">Transfer Leadership</a>
                                  <a href = "{% url 'pending_requests' club_id=club.pk %}">Pending requests</a>
                                  <a href = {% url 'set_meeting' %}>Arrange a meeting</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <!-- write here to be added beneath club leader card -->
        </div>


        <div class="col-md-5">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">About us:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <p>{{club.description}} </p>

                        </div>
                        <a href={% url 'club_forum' club.id %} class="text-success stretched-link" >Enter Club Forum</a>
                    </div>
                </div>
            </div>
            <!-- write here to be added beneath about us  -->
            <div class="card mb-2">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-500">
                          <h6 class="mb-0">20 Recent posts in Club Forum:</h6>
                          <div class="col-xs-12 col-lg-10 col-xl-10">
                            {% include 'partials/posts_as_table.html' with posts=posts %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="card" style="width: 26rem;">
            <img class="card-img-top" src="https://www.mothersandmore.org/wp-content/uploads/2017/09/book-club.jpg" >
            <div class="card-body">
              <h5 class="card-title">Meetings</h5>
              <p class="card-text">To see the list of previous meetings click on the link below.</p>
              <a href={% url 'previous_meetings' club.id %} class="btn btn-primary">previous meetings</a>
              {% for i in club.members.all %}
                {% if i == request.user  %}
                  <div class="meeting-card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">

                            <p class="text font-size-sm"> Next meetings: <p> </p>
                            {% for i in  club.meetings.all %}
                            {% if user.now < i.date %}


                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Date: {{ i.date }} </h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Book: {{ i.book.name }}</h6>
                                  Meeting notes: <p></p>{{ i.notes }}
                                  <a href={% url 'start_meeting' i.id %} class="btn btn-primary">Start Meeting</a>
                                  <p></p>
                                </div>
                              </div>
                              {% endif %}
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                <p></p>
                {% endif %}
                {% endfor %}
            </div>
          </div>
          {% if club.leader == user %}
          <a class="btn btn-danger" style="float: right;" href = "{% url 'delete_club' club_id=club.id %}">Delete Club</a>
          {% endif %}
        </div>
        <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Transfer Leadership</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <select class="form-select" id="select-member" size="3" onchange="enableTransfer();" aria-label="size 3 select example">
                  {% for member in club.members.all %}
                    <option value={{member.id}}>{{member.full_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="modal-footer">
                <div id="transfer-buttons">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="transfer-button" onclick="showAreYouSure()" disabled class="btn btn-danger">Transfer</button>
                </div>
                <div class="hidden" id="are-you-sure">
                  <p><b>Are you sure?</b></p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" id="transfer-button" onclick="transferLeadership()" class="btn btn-danger">Yes</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

{% endblock %}
{% block javascript %}

  <script type="text/javascript">

    const enableTransfer = () => {
      $('#transfer-button').prop('disabled', false)
    }

    const showAreYouSure = () => {
      $('#transfer-buttons').fadeOut(300, () => {
        $('#are-you-sure').addClass('flex').removeClass('hidden')
      })
    }

    const getSelectedMember = () => {
      return $('#select-member').val()
    }

    const transferLeadership = () => {
      event.preventDefault()
      let selectedMember = getSelectedMember()
      $.ajax({
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          club_id: JSON.stringify({{club.id}}),
          new_leader_id: JSON.stringify(selectedMember)
        },
        url: {% url 'transfer_ownership' %},
        dataType: "JSON",
        success: (data) => {
          window.location.href = data.redirect_url;
        }
      })
    }

  </script>


{% endblock %}
