{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="main-body">
      <div class="page-content page-container" id="page-content">
          <div class="row container d-flex justify-content-center">
              <div>
                  <div class="card user-card-full">
                      <div class="row m-l-0 m-r-0">
                          <div class="m-b-25">
                            <img src="{{ book.image_url_l }}" alt="Image not found">
                          </div>

                          <div class="col-sm-8">
                              <div class="card-block">
                                  <h3 class="m-b-20 p-b-5 b-b-default f-w-600">{{ book.name }}</h3>
                                  <h4 class="f-w-600">By {{ book.author }}</h4>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">ISBN:</h5>
                                      <p class="text-muted">{{ book.isbn }}</p>
                                  </div>
                                  {% if  book.description  != "" %}
                                    <div>
                                        <h5 class="m-b-10 f-w-600">Description:</h5>
                                        <p class="text-muted">{{ book.description }}</p>
                                    </div>
                                  {%endif%}
                                  {% if  book.grouped_category  != "" %}
                                    <div>
                                        <h5 class="m-b-10 f-w-600">Theme:</h5>
                                        <p class="text-muted">{{ book.grouped_category }}</p
                                    </div>
                                  {%endif%}


                                  <div>
                                      <h5 class="m-b-10 f-w-600">Publisher:</h5>
                                      {% if book.publication_year == 0 %}
                                      <p class="text-muted">{{book.publisher}}</p>
                                      {% else %}
                                      <p class="text-muted">{{book.publisher}} - {{book.publication_year}}</p>
                                      {% endif %}
                                  </div>

                                  <div>
                                    <script>
                                      var liked = 0;
                                      var neutral = 0;
                                      var disliked = 0;
                                    </script>
                                    {% for review in reviews %}
                                    {% if review.book == book %}
                                      {% if review.rating == 'like' %}
                                        <script>
                                          liked++;
                                        </script>
                                      {% elif review.rating == 'dislike' %}
                                        <script>
                                          disliked++;
                                        </script>
                                      {% else %}
                                        <script>
                                          neutral++;
                                        </script>
                                      {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <h5 class="m-b-10 f-w-600">Reviews:</h5>
                                    <p><b>Liked by: </b><script> document.write(liked, '&nbsp', '(', (liked/(liked+disliked+neutral))*100, '%)'); </script></p>
                                    <p><b>Neutral: </b><script> document.write(neutral, '&nbsp', '(', (neutral/(liked+disliked+neutral))*100, '%)'); </script></p>
                                    <p><b>Disliked by: </b><script> document.write(disliked, '&nbsp', '(', (disliked/(liked+disliked+neutral))*100, '%)'); </script></p>
                                    <hr>
                                    <p><b>Read by: </b><script> document.write(liked+disliked+neutral); </script></p>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}
