{% extends 'base_content.html' %}
{% block content %}

<div class="container">

  <div class="main-body">
      <div class="page-content page-container" id="page-content">
          <div class="row container d-flex justify-content-center">
              <div>
                  <div class="card user-card-full">
                      <div class="row m-l-0 m-r-0">
                          <div class="col-sm-4 bg-c-lite-green user-profile">
                              <div class="card-block text-center text-white">
                                  <div class="m-b-25"> <img src="{{ user.gravatar }}"
                                          alt="Gravatar of {{ user.username }}" class="rounded-circle"> </div>
                                          <h3 class="f-w-600">{{user.first_name}} {{user.last_name}}</h3>

                                  {% if user.id == request.user.id %}
                                  <div class="row">
                                      <div class="col-sm-12 col-md-8 offset-md-2">
                                          {% include 'partials/follow_unfollow.html' with following=following request_sent=request_sent %}
                                          <a href={% url 'profile'  %}><button type="button" class="btn btn-primary">Edit profile</button></a>
                                          <br><br>
                                          <a class="btn btn-danger" href = "{% url 'delete_account' user.id %}">Delete Account</a>
                                      </div>
                                  </div>

                                  <br><br>
                                  <a href={% url 'book_review'  %}>
                                      <button type="button" class="btn btn-primary"><b>Add Book Review</b></button>
                                  </a>

                                  {% else %}
                                    {% include 'partials/follow_unfollow.html' with following=following request_sent=request_sent %}
                                  {% endif %}
                              </div>
                          </div>
                          <div class="col-sm-8">
                              <div class="card-block">
                                  <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Profile</h4>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Username:</h5>
                                      <p class="text-muted">{{user.username}}</p>
                                  </div>

                                  <div>
                                      <h5 class="m-b-10 f-w-600">Email:</h5>
                                      <p class="text-muted">{{user.email}}</p>
                                  </div>

                                  <div>
                                      <h5 class="m-b-10 f-w-600">Bio:</h5>
                                      <p class="text-muted">{{user.bio}}</p>
                                  </div>

                                  <div>
                                      <h5 class="m-b-10 f-w-600">City:</h5>
                                      <p class="text-muted">{{user.city}}</p>
                                  </div>

                                  {% if following or user.id == request.user.id %}
                                  <br>
                                  <br>
                                  <div>
                                    <h5 class="m-b-10 f-w-600">Clubs joined:</h5>
                                    {% for club in user.clubs.all %}
                                    <m class= "text-muted">{{ club.name }}, </m>
                                    {% endfor %}
                                  </div>
                                  <br>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Favourite Book:</h5>
                                      <p class="text-muted">{{user.favourite_book}}</p>
                                  </div>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Favourite Character:</h5>
                                      <p class="text-muted">{{user.favourite_character}}</p>
                                  </div>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Favourite Genre:</h5>
                                      <p class="text-muted">{{user.favourite_genre}}</p>
                                  </div>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Favourite Author:</h5>
                                      <p class="text-muted">{{user.favourite_author}}</p>
                                  </div>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Want to read next:</h5>
                                      <p class="text-muted">{{user.want_to_read_next}}</p>
                                  </div>
                                  <div>
                                      <h5 class="m-b-10 f-w-600">Books Read:</h5>
                                      <table class="table">
                                        <tr>
                                          <th>Book</th>
                                          <th>Rating</th>
                                        </tr>
                                        {% for review in reviews %}
                                        {% if review.reviewer == user %}
                                          <tr>
                                            <td>{{review.book}}</td>
                                            <td>{{review.rating}}</td>
                                          <tr>
                                        {% endif %}
                                        {% endfor %}
                                      </table>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


{% if user in request.user.followers.all or user == request.user %}
<h1> moments </h1>
      <!-- View moments -->
      <div id="moment-wrapper">
        {% for moment in moments %}
        {% if moment.user == user %}

          <!-- CUSTOM -->
          {% if moment.type == 0 %}
            {% include 'partials/custom_moment_partial.html' with moment=moment %}

          <!-- BECAME_FRIENDS -->
          {% elif moment.type == 1 %}

          <!-- CLUB_CREATED -->
          {% elif moment.type == 2 %}
            {% include 'partials/create_club_moment_partial.html' with moment=moment %}

          <!-- BOOK_RECOMMENDATION -->
          {% elif moment.type == 3 %}

          <!-- READING_NEW_BOOK -->
          {% elif moment.type == 4 %}
          {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}




              {% if request.user.id == user.id %}

              {% endif %}
          </div>
      </div>
  </div>
</div>
<p></p>
{% endblock %}
