{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Upload a csv file in the correct format</h4>

      <p>ISBN; Book-Title; Book-Author; Year-Of-Publication; Publisher; Image-URL-S; Image-URL-M; Image-URL-L</p>

      <form action="{% url 'upload_books' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Upload" class="btn btn-primary">
      </form>
      <br>
    </div>
  </div>
</div>
{% endblock %}
