/*Customization for the main body of the landing page*/
.main-body{
    position: fixed;
    background-color: #77C2CF;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/*Customization for the navbar in the landing page..can be used for navbar in other pages*/
.home-navbar-custom{
    background-color: #7796CF;
}

/*Customization for fonts for the website*/
.fonts{
    font-family: 'Josefin Slab';
}
