{% load notification_extras %}

<div class="row">
  <!-- input -->

  <!-- notification card -->
  <div class="col-11">
    <div class="row notification-card">


      <div class="col-1">

        <div class="notification-image" style="height:100px;">
          <i class="bi bi-emoji-frown" style="color:lightblue; font-size:40px"></i>
        </div>
      </div>

      <div class="col-9 notification-body">
        <div class="row">
          <div class="col-12">
            <h5 style="color:#464646; font-size:18px;">Sorry!</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p style="color:#7a7a7a">You dont have any notifications yet.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="color:#7a7a7a">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
