<div class="card-body p-5"> 
    <div class="text-center mb-4 pb-2">
      <img src="/static/images/bulb.webp" alt="Bulb" width="100">
    </div>

    <figure class="text-center mb-0">
      <blockquote class="blockquote">
        <p class="pb-3">
          <i class="fas fa-quote-left fa-xs text-primary"></i>
          <span class="lead font-italic">Many of Life's joys and enlightenment comes with joining a book club. Be part of the community</span>
          <i class="fas fa-quote-right fa-xs text-primary"></i>
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0">
        Cautious Spoon
      </figcaption>
    </figure>

  </div>