<table class="table">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Name</th>
  </tr>
    {% for user in users %}
    {% if not user.is_superuser %}
        <tr>
          <td><a href="{% url 'show_user' user.id %}">
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
          </a></td>
          <td><a href="{% url 'show_user' user.id %}">{{ user.username }}</a></td>
          <td>{{ user.full_name }}</td>
        </tr>
    {% endif %}
    {% endfor %}
      </table>
