<table class="table">
        <tr>
          <td><b>Date:</b></td>
          <td><b>Book:</b></td>
          <td><b>Chosen Member:</b></td>
          <td><b>Notes:</b></td>
        </tr>
        {% for meeting in club.meetings.all %}
        {% if meeting.date < user.now %}
        <tr>
          <td>{{ meeting.date }}</td>
          <td>{{ meeting.location }}</td>
          <td>{{ meeting.book }}</td>
          <td>{{ meeting.chosen_member }}</td>
          <td>{{ meeting.notes }}</td>
        </tr>
        {% endif %}
        {% endfor %}
</table>
