<table class="table">
        <tr>
          <th>Start:</th>
          <th>Finish:</th>
          <th>Location:</th>
          <th>Book:</th>
          <th>Next Book:</th>
          <th>Chosen Member:</th>
          <th>Notes:</th>
          {% for r in request.user.leader_of.all  %}
          {% if r.id == club.id %}
          <th></th>
          {% endif %}
          {% endfor %}
        </tr>
        {% for meeting in club.meetings.all %}
        {% if meeting.finish < user.now %}
        <tr>
          <td>{{ meeting.start }}</td>
          <td>{{ meeting.finish }}</td>
          <td>{{ meeting.location }}</td>
          <td><a href="/book/{{meeting.book.id}}">{{ meeting.book }}</a></td>
          <td><a href="/book/{{meeting.next_book.id}}">{{ meeting.next_book }}</a></td>
          <td><a href="/user/{{meeting.chosen_member.id}}">{{ meeting.chosen_member }}</a></td>
          <td>{{ meeting.notes }}</td>
          {% for r in request.user.leader_of.all  %}
          {% if r.id == club.id %}
          <td><a href={% url 'delete_meeting' meeting_id=meeting.id club_id=club.id  %} class="btn btn-danger">Delete Meeting</a></td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
</table>
